# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
store/node_modules

# next.js
store/.next/
store/out/

# production
store/build

# debug
store/npm-debug.log*
store/yarn-debug.log*
store/yarn-error.log*
store/.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts